.page{
    display: flex;
}

.content{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
