<div class="content-form">
    <div class="form-register">
        <app-name-input [(namePost)]="post.name"></app-name-input>
        <app-description-textarea [(descriptionPost)]="post.description"></app-description-textarea>
        <app-abstract-textarea [(abstractPost)]="post.abstract"></app-abstract-textarea>
        <app-category-select [(categoryPost)]="post.category"></app-category-select>
        <div class="footer">
            <app-bg-button (click)="savePost()" color="var(--bg-green)" text="Salvar" routerLink="/"></app-bg-button>
        </div>
    </div>
</div>