<form class="content-form" (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="form-register">
        <div class="form-group">
            <label for="name-input">Título</label>
            <input id="name-input" [(ngModel)]="post.name" #name="ngModel" name="name" type="text" required />
        </div>
        <div class="form-group">
            <label for="description-textarea">Descrição</label>
            <textarea id="description-textarea" [(ngModel)]="post.description" #description="ngModel" name="description" type="text" rows="2" cols="60" required>
            </textarea>
        </div>
        <div class="form-group">
            <label for="abstract-textarea">Resumo</label>
            <ckeditor id="abstract-textarea" [editor]="Editor" [(ngModel)]="post.abstract" #abstract="ngModel" name="abstract" required></ckeditor>
        </div>
        <div class="form-select">
            <app-category-select class="category-select" [(categoryPost)]="post.category"></app-category-select>
        </div>
        <div class="footer">
            <app-bg-button [(desabled)]="!postForm.form.valid" [icon]="icons.faSdCard" color="var(--bg-green)" text="Salvar" ></app-bg-button>
        </div>
    </div>
</form>