#bg-button{
    width: 200px;
    height: 35px;
    border: 0px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

#bg-button:hover{
    border-width: 2px;
    background: var(--bg-green);
}