:root {
    font-size: 18px;
    font-family: 'Merriweather', sans-serif;
    --text-primary: #1c304e;
    --text-secondary: #ffff;
    --text-green: #02a775;
    --text-black: #000000;
    --bg-primary: #ffff;
    --bg-secondary: #1c304e;
    --bg-green: #02a775;
}

html,
body {
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
}


body::-webkit-scrollbar {
    width: 0.25rem;
}

h1 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 60px;
}

h3 {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 25px;
}

blockquote {
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}


.ck .ck-reset .ck-editor .ck-rounded-corners{
    box-shadow: 0px 0px 0px 1px #b4b3b3 !important;
}