.content-filters{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filters{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.register-button{
 margin: 29px 50px 0 0;
}

.search-button{
    margin-top: 29px;
}

.align-posts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 51px;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 10px;
}

.message{
    margin-top: 50px;
}

.datatime{
    margin-right: 50px;
    margin-top: 11px;
}

.category{
    margin-right: 30px;
}

@media only screen and (max-width: 900px) {
    .posts{
        grid-template-columns: repeat(1, 400px) !important;
    }
}